.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 30vh;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

#test{
    width:20px;
    height:20px;
    
}